body {
  background: #181818;
  color: #aaa;
}

a {
  color: #aaa;
}

.App {
  padding: 25px;
}

.equilibrium {
  text-align: center;
}

.all-voters {
  width: 100%;
  height: 50px;
  background: #333;
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative;
}

.selected-voters {
  position: absolute;
  bottom: 0;
  background: #b168ff;
}

.position-display {
  width: 100%;
  margin-top: 5px;
  color: #aaa;
}

.position-display-value {
  color: #b168ff;
}

input[type=range] {
  width: 100%;
}

.settings {
  display: inline-block;
  padding: 25px;
  background: #333;
}

.about {
  background: #282828;
  padding: 25px;
  margin-top: 50px;
}
